@media screen and (max-width: 1060px){
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
    }

    input{
        align-self: center;
        width: 100%;
    }

    #image{
        display: none;
    }

    ul{
        text-align: center;
    }


}